@font-face {
  font-family: 'Oswald', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Passion One', cursive;
  font-family: 'Francois One', sans-serif;
  font-family: 'Bangers', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Sony Sketch EF Bold';
  src: url('Sony_Sketch_Bold_205.ttf');
}

body {
    margin-left: 200px;
    background: #5d9ab2 url("img_tree.png") no-repeat top left;
}

.container {
    text-align: center;
}

.center_div {
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #d0f0f6;
    text-align: left;
    padding: 8px;
}
