@font-face {
  font-family: 'Oswald', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Passion One', cursive;
  font-family: 'Francois One', sans-serif;
  font-family: 'Bangers', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Sony Sketch EF Bold';
  src: url('Sony_Sketch_Bold_205.ttf');
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/*
.main .grid_flex {
  background-image: url('white.jpg');
  max-width: 100%;
  max-height: 100vh;
  background-position: center;
  flex-direction: row;
}
*/
body {
  background-image: url('android.jpg');
  background-size: 1261px 750px;
  background-position: center;
  font-family: 'Oswald';
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  border: solid 1px grey;
}

a {
  color: #505050;
}

.pane ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pane ul li {
  border-bottom: 1px solid black;
  padding:10px;
}

.pane ul li:last-child {
  border-bottom: 0;
}

.pane a {
  text-decoration: none;
  background:#FEFF00;
  padding:10px;
  color:black;
  border-radius:4px;
}


h2 {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  text-shadow:3px 3px 0 rgba(0,0,0,0.1);
}

.grid {
  font-size: 80px;
  font-family: 'Francois One';
  margin: 10px 0;
}

.grid_flex {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pane {
  background:rgba(255,255,255,0.2);
  margin:20px;
  padding:20px;
  border-radius: 4px;
  text-align: center;
  flex:1;
  display:flex;
  flex-wrap:wrap;
}

.pane > * {
  flex:1 1 100%;
}

.pane .icon {
  align-self:flex-end;
}
